//
	Plantilla Neutra de la Universidad de Granada
	Copyright (C) 2014 Jaime Torres Benavente

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.




doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", lang="es", xml:lang="es")
	head
		title NOMBRE DEPARTAMENTO | Universidad de Granada
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="description", content="Universidad de Granada - NOMBRE DEPARTAMENTO")
		meta(name="keywords", content="universidad,granada,NOMBRE DEPARTAMENTO")
		meta(http-equiv="content-language", name="language", content="es")
		link(rel="shortcut icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="stylesheet", id="css-style", type="text/css", href="css/style.css", media="all")

	body
		div(id="contenedor_margenes" class="")
			div(id="contenedor" class="")
				div(id="cabecera" class="")
					h1#cab_inf NOMBRE DEPARTAMENTO
					#formularios
						a(href="http://www.ugr.es", id="enlace_ugr") Universidad de Granada
						span.separador_enlaces  | 
						div(class="depto")
							span.titulo_stack Departamento
							a(href="index.html", id="enlace_stack") NOMBRE DEL DEPARTAMENTO
						span.separador_enlaces | 

				#rastro-idiomas
					#rastro
						ul#rastro_breadcrumb
							li.first
								a(class="first", href="index.html") Inicio
							li.last
								a(class="last", href="contacto.html") Localización y Contacto

				#general
					#menus
						div(id="enlaces_secciones", class="mod-menu_secciones")
							ul
								li(class="tipo2 item-first_level")
									a(href="index.html") Presentación
								li(class="tipo2 item-first_level")
									a(href="personal.html") Personal
								li(class="selected tipo2-selected item-first_level")
									a(href="contacto.html") Localización y Contacto
								li(class="tipo2 item-first_level")
									a(href="pruebas.html") Página de muestras

						div(id="frecuentes", class="mod-menu_secciones menu_frecuentes", style="display: none;")
							ul
								li(class="adicional1 item-first_level")
									a(href="#") Elemento 1er nivel
									ul
										li(class="tipo1 item-second_level")
											a(href="#") Elemento 2º nivel

					#pagina
						h1#titulo_pagina
							span.texto_titulo Localización y Contacto

						div(id="contenido", class="sec_interior")
							.content_doku
								p En este mapa podrá encontra la localización del departamento.
								
								p.imagen_aislada 
									img(src="img/interior/contacto/localizacion.jpeg", alt="Mapa localizacion departamento", title="Localizacion departamento")
									a(href="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=av+madrid+GRanada&amp;sll=36.580247,0.175781&amp;sspn=8.059643,21.643066&amp;ie=UTF8&amp;ll=37.188374,-3.60446&amp;spn=0.010667,0.021136&amp;z=16", class="urlextern", title="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=av+madrid+GRanada&amp;sll=36.580247,0.175781&amp;sspn=8.059643,21.643066&amp;ie=UTF8&amp;ll=37.188374,-3.60446&amp;spn=0.010667,0.021136&amp;z=16", rel="nofollow") Ver el mapa de Google Maps

								ul
									li.level1
										.li
											| <strong>Dirección</strong>
											| : Departamento de XXXX. <br />
											| Facultad de XXXXX. <br />
											| (Avda./C., etc...) XXXXX nº X. <br />
											| 18XXX GRANADA (Spain)

								p También puedes contactar con nosotros por: 

								ul
									li.level1
										.li
											| <strong>Telefono</strong>
											| :+34 958 111111

									li.level1
										.li
											| <strong>Fax</strong>
											| : +34 958 222222

									li.level1
										.li
											| <strong>E-Mail</strong>
											| :<a href="mailto:xxx@ugr.es" class="mail JSnocheck" title="xxx@ugr.es">xxx@ugr.es</a>



				#banners
					.mod-banners
						ul
							li(class="banner_container model-resaltado-01 showtext")
								a(class="banner", href="URL DONDE APUNTA EL BANNER")
									strong LINEA 1 DE TEXTO
									em LINEA 2 DE TEXTO
									span LINEA 3 DE TEXTO

							li(class="banner_container model-resaltado-01 dont_showtext")
								a(class="banner", href="URL DONDE APUNTA EL BANNER")
									strong LINEA 1 DE TEXTO
									em LINEA 2 DE TEXTO
									span LINEA 3 DE TEXTO

							li(class="banner_container model-resaltado-02 showtext")
								a(class="banner", href="/depto_bbm3i/pages/www.gmail.com")
									strong linea 1
									em linea 2
									span linea 3

							li(class="banner_container model-resaltado-02 dont_showtext")
								a(class="banner", href="/depto_bbm3i/pages/www.gmail.com")
									strong linea 1
									em linea 2
									span linea 3

				#lateral_doku
					div(class="content_doku content_doku_display")
						.content_doku contenido en el margen

				#interior_pie
					#pie
						a(class="cmswebmap", href="#") Mapa del sitio
						span.separador_enlaces  | 
						a(class="contactar", href="#") Contacto
						span.separador_enlaces  | 
						a(class="validador", href="#") Accesibilidad
						span.separador_enlaces  | 
						a(class="privacidad", href="#") Política de privacidad
						p <a href="http://www.ugr.es/pages/creditos">&copy; 2011</a> <span class="separador_enlaces"> | </span> <a href="http://www.ugr.es">Universidad de Granada</a></p>